@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding-top: 80px;
  height: 100%;
}


.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  grid-area: main;
}

.favorite {
  grid-area: left;
}

.career {
  grid-area: right;
}

.site-footer {
  grid-area: footer;
}

.site-header {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  height: 80px;
}


.global-nav ul {
  display: flex;
  gap: 20px;
}

.global-nav a {
  color: #fff;
  font-weight: bold;
}

.nav-ul {
  list-style: none;
}

.favorite {
  background-color: #fff;
  padding: 20px;
  display: block;
}

.main-content {
  background-color: #fff;
  padding: 10px;
}

h2 {
  padding: 10px;
}

.career {
  background-color: #fff;
  padding: 20px;
  display: block;
}

.site-footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 40px 0;
  text-align: center;
  margin-bottom: 0 auto;
}


section {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


@media (max-width: 768px) {
  body {
    padding-top: 200px;
  }

  .header-inner {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .global-nav ul {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }


  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "left"
      "right"
      "footer"
    ;
    padding: 0 15px;
    gap: 30px;

  }

  .card-wrapper {
    grid-template-columns: 1fr;
  }
}
